/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style Start */
html, body {
    height: 100%;
}

body {
    background-color: #FFF;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #E10000;
    text-decoration: underline;
}

a:visited {
    color: #E10000;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #000;
}

p, ul {
    margin-bottom: 10px;
    line-height: 1.6em;
}

ul 
{
    list-style: square inside;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 
{
    border-bottom: 1px solid #000;
    padding: 0 0 10px 0;
}

h3 
{
    padding: 20px 0 10px 0;
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
    width: 920px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

header, #header {
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main 
{
    clear: both;
    padding: 30px 0px 15px 0px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 10px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    padding: 0 10px 0 10px;
    position: relative;
    margin: -20px 0 2px 0;
    text-align: right;
    font-size: 0;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #eee;
}

ul#menu li 
{
    font-size: 14px;
    display: inline-block;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a 
{
    font-size: 14px;
    display: inline-block;
    text-align:center;
    padding: 3px 30px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #eee;
    color: #000;
}

ul#menu li.selected a 
{
    color: #e10000 !important;
    border-bottom: 1px solid #e10000 !important;    
}

ul#menu li a:hover {
    color: #e10000;
    text-decoration: none;
    border-bottom: 1px solid #e10000;
}

ul#menu li a:active {
    color: #000;
    text-decoration: none;
}

ul#menu li.selected a {
    color: #e10000;
    color: #000;
    border-bottom: 1px solid #e10000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer 
{
    float: right;
}

div#title {
    display: block;
    float:left;
    text-align: left;
}

div#contact_title 
{
    padding: 10px 10px 0 0;
    clear:right;
    float:right;
    font-size: 18px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.clear 
{
    clear: both;
}

/* HOME PAGE  
----------------------------------------------------------*/

.col1, .col2
{
    margin: 20px 0 20px 0;
    padding: 10px;
    width: 426px;
    border: 1px solid #CCC;
    text-align: center;    
}

.col1
{
    float: left;   
}

.col2
{
    float: right;   
}

.indexSection1 
{
 
}

.col1 h3, .col2 h3
{
    padding: 0;
}

.indexSection1 #intro
{
    padding: 15px 0 0px 0;
    float: left;
    width: 440px; 
}

.indexSection1 img
{
    padding-top: 10px;
    display: block;
    float: right;
}

a.findmore
{
    display: block;
    width:100%;
    background: #EEE;

    text-align: center;
    padding: 5px 0 5px 0;
    margin-top: 5px;
}

/* CONTACT PAGE
----------------------------------------------------------*/

#ContactForm
{
    padding-top: 10px;
    width:440px;
    float:left;    
}

#ContactForm input[type="submit"]
{
    width:40%;
    margin-left: 25%;
    margin-right: 25%;
}

#ContactForm ul li input,
#ContactForm ul li textarea
{
    margin: 5px;
    border: 1px solid #CCC;
    border-left: 1px solid #000;
    padding-left:5px;
    height: 35px;
    width: 400px;
    font-family: Arial;
    font-size: 16px;
}

#ContactForm ul 
{
    list-style: none;
}

#ContactForm ul li textarea
{
    padding-top: 5px;
    height: 200px;    
}