@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h2>Welcome to AJ Newton Plant Engineers</h2>

<div class="indexSection1">
<div id="intro">
    <p>
    AJ Newton Plant Engineers provide repairs and maintenance to all types of construction and agricultural equipment.
    </p>
    <p>
    See more information on <a href="/Services">our services</a> or <a href="/Contact">contact us</a>.
    </p>
    <p>
    This site is currently under construction. Please check back later for more information and updates.
    </p>
</div>
<img src="/Content/images/van.jpg" alt="Picture Of Machinery" /> 
</div>

<div class="clear">
<h2>Services We Offer</h2>

<div class="col1">
    <h3>Engine and Transmission Re-builds</h3>
    <a class="findmore" href="/Services#enginerebuilds">Find out more</a>
</div>

<div class="col2">
    <h3>Servicing and Repairs</h3>
    <a class="findmore" href="/Services#servicingandrepairs">Find out more</a>
</div>

<div class="col1">
    <h3>Machinery Resprays</h3>
    <a class="findmore" href="/Services#machineryresprays">Find out more</a>
</div>

<div class="col2">
    <h3>Other services</h3>
    <a class="findmore" href="/Services#otherservices">Find out more</a>
</div>
</div>
<div class="clear"></div>
