@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Services";
}
<h2>Services</h2>
<h3 id="enginerebuilds">Engine and Transmission Re-builds</h3>
<p>From a 3 cylinder perkins to a detroit 12v91 we have the experience and knowledge to strip, inspect and rebuild to a high standard.<br />
Transmissions can be overhauled from a newage dumper gearbox jumping out of gear to a JCB powershift box with no drive.</p>

<h3 id="servicingandrepairs">Servicing and Repairs</h3>
<p>Our service vehicles are equipped with their own power source, compressed air, gas cutting and warming equipment and mobile welder (if required).<br />
Along with a wide range of general consumables these allow you to repair your machine, when possible, on site, keeping time cost down to a minimum.</p>
<ul> 
    <li>Emergency Beakdown service</li>
    <li>Rountine Maintenance</li>
    <li>Electrical fault diagnosis</li>
    <li>Rock hammer repairs</li>
    <li>Hydraulic cylinder repairs</li>
</ul>

<h3 id="machineryresprays">Machinery Resprays</h3>
<p>From a counter weight repaint to a full machine respray. Damaged fiberglass and plastic pannels repaired. Decals are supplied and fitted to keep your machine looking fresh.</p>

<h3 id="otherservices">Other Services</h3>
<ul> 
    <li>Crusher and Screener repairs</li>
    <li>Conveyour belt repairs</li>
    <li>Fixed price service schedules</li>
    <li>Machines sourced through our contacts</li>
    <li>Insurance Work undertaken</li>
    <li>Haulage</li>
</ul>